@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased text-foreground;
    background-image: url('../src/assets/pinky-toe-pattern.jpg');
    background-repeat: repeat;
    background-size: 50%; /* Scale down to 50% */
  }
}